page-view-detail {
  .date{
    margin-top: 15%;
    text-align: left;
    color:grey;
  }
  .view{
    background-color: #DAA520;
  }
  .price{
    margin-top: 10%;
    text-align:  left;
    h3{
    color: coral;}
  }
}
